{
  "parser": "babel-eslint",
  "extends": [
     "airbnb",
     "plugin:react/recommended",
     "prettier",
     "prettier/react"
  ],
  "plugins": ["react", "import", "prettier"],
  "env": {
    "browser": true
  },
  "settings": {
  "import/resolver": {
   "webpack": {
     "config": "webpack.config.js"
    }
   }
  }
 }